<link rel="stylesheet" href="/stylesheets/nav.css">
<nav>


<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register Books</a></li>
   <li><a href="/show">Books</a></li> 

</ul>

</nav>