<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/home.css">

<%- include("partials/nav")%>

<!-- <h1>This is homepage</h1> -->
<div class="main ">
    <div class="left">
<img src="https://media.istockphoto.com/id/873620756/photo/library-stacks-of-books-and-bookshelf.jpg?s=2048x2048&w=is&k=20&c=EVfIpLsR8IjnZg3cGFR_Lcb1A56cOHgcIYXEHcxG-GM=" width="60%"  alt="">

    </div>

<div class="right ">
<h1>Book Library</h1>
<p>Collection of precious books in the library.A library is a collection of books, and possibly other materials and media, that is accessible for use by its members and members of allied institutions. Libraries provide physical (hard copies) or digital access (soft copies) materials, and may be a physical location or a virtual space, or both.  </p>

<button class="btn1 btn btn-primary px-4"><a class="text-decoration-none text-white" href="/register">Register Books</a></button>

<button class="btn2 btn btn-danger px-4"> <a class="text-decoration-none text-white" href="/show">Books</a></button>
  


</div>

</div>

<%- include("partials/footer")%>